doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/card-stack.css')
    link(rel='stylesheet', href='/css/animate.css')
    script(src='/js/swing.min.js')
    script(src='/js/classList.js')
    script(src='/js/card-stack.js')
  body
    #viewport
      ul.stack
        li.clubs 
        li.diamonds 
        li.hearts 
        li.spades 

//doctype html
//html(lang="en")
//	head
//		title DateUp - Dashboard
//	body
//        
//		h1= 'Hi ' + user.name + '!'
//		p= 'Your interests are:'
//			ul
//				each i in user.interests
//					li= i
//		p= 'Incoming DateUps:'
//			ul
//				each d in user.dateups
//					li= d