doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/style-view.css')
    link(rel='stylesheet', href='/css/card-stack.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    script(src='//code.jquery.com/jquery-2.1.3.min.js')
    script(src='/js/app-view.js')
    script(src='/js/swing.min.js')
    script(src='/js/classList.js')
    script(src='/js/card-stack.js')
  body
    #viewport
      ul.stack 
        div.bottom-stack That's it for today ! 
        each i in user.dateups
            li(id='userid-'+i.partner.id)= i.partner.name
                #state-mark-like.animated.bounceIn
                    i#icon-like.fa.fa-heart
                #state-mark-dislike.animated.bounceIn
                    i#icon-dislike.fa.fa-times
                img#dateup-profilepic(src= i.partner.profilepic)
                #recommend-activity Recommended Activity
                span
                    b=i.interest
                #recommend-date
                    i.fa.fa-calendar
                    span=' ' + i.date
                    
    //#setting-button setting
    img#profile-image.animated.bounceInUp(src= user.profilepic) 
    #userprofile.animated.bounceInUp= user.name 
    //#videocall-button video call

    
//doctype html
//html(lang="en")
//	head
//		title DateUp - Dashboard
//	body
//        
//		h1= 'Hi ' + user.name + '!'
//		p= 'Your interests are:'
//			ul
//				each i in user.interests
//					li= i
//		p= 'Incoming DateUps:'
//			ul
//				each d in user.dateups
//					li= d

//        each i in user.dateups
//        li.clubs= i
//        li.clubs 
//        li.clubs 
//        li.clubs 